body {
    font-family: 'Roboto', sans-serif;
}


header {
    background-image: url(https://www.itl.cat/pngfile/big/44-446725_digital-space-universe-4k-8k-wallpapers-tarantula-nebula.jpg);
    background-attachment: fixed;
    
}
h1 {
    color: white;
}
nav {
    font-style: italic;
    color: white;
}
li {
    color: oldlace;
}

.mainh2 {
    font-weight: bold;
}
.mainp {
    font-style: italic;
    color: navy;
}
.mainp2 {
    font-style: italic;
    color: navy;
}