body {
    font-family: 'Oswald', sans-serif;
  }


p {
    font-family: 'Oswald', sans-serif;
    font-size: 22px;
    color: black;
}
nav {
    font-size: 18px;
    font-style: italic;
}



footer {
    background-color:#0F0E0E;
    color: white;
    text-align: center;
}

